@property --color {
    syntax: '<color>'; /* <- defined as type number for the transition to work */
    initial-value: #393838;
    inherits: false;
  }

body {
    background-color: #393838;
    touch-action: manipulation;
}
button {
    width:10%;
    border: 1px solid #393838;
    background-color: #818384;
    color: white;
    aspect-ratio: 1 / 1;
    transition-duration: 0.4s;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 3vw;
}

#keyboard {
    display: grid;
    /*max-width: 500px;*/
    width:95%; 
    padding: inherit;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#lineList {
    height:65%;
    overflow: auto;
    position: absolute;
    top:2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.score {
    font-family: Arial, sans-serif;
    font-size: 3vw;
    color: white; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
}
.box{
    width: 100px;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid black;
    display: table; 
    margin: 10px;
} 
.letter {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 3vw;
    display: table-cell;  
    color: white;
}
.selected {
    border: 1px solid white;
}
.correct {
    --color: #00b804;
}
.almost {
    --color: #efe700;
}
.incorrect {
    --color: #0f0f0f;
}

button.correct {
    background-color: #00b804;
}
button.almost {
    background-color: #efe700;
}
button.incorrect {
    background-color: #0f0f0f;
}