@property --color {
    syntax: '<color>'; /* <- defined as type number for the transition to work */
    initial-value: #393838;
    inherits: false;
}
:root {
    --correct : #00b804;
    --almost : #efe700;
    --incorrect : #0f0f0f;
    --background-color : #393838;
    --font-size : 5vw;
}

body {
    background-color: var(--background-color);
}
button {
    width:10%;
    border: 1px solid var(--background-color);
    background-color: #818384;
    color: white;
    aspect-ratio: 1 / 1;
    transition-duration: 0.4s;
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

#keyboard {
    display: grid;
    width:95%; 
    max-width: 750px;
    padding: inherit;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#lineList {
    height:65%;
    width:95%;
    overflow: auto;
    position: absolute;
    top:2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.score {
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
    color: white; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
}
.box{
    width: 75px;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid black;
    display: table; 
    margin: 10px;
} 
.letter {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
    display: table-cell;  
    color: white;
}
.selected {
    border: 1px solid white;
}
.correct {
    --color: var(--correct);
}
.almost {
    --color: var(--almost);
}
.incorrect {
    --color: var(--incorrect);
}

button.correct {
    background-color: var(--correct);
}
button.almost {
    background-color:var(--almost);
}
button.incorrect {
    background-color: var(--incorrect);
}